.projectScrollContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.projectRow {
  display: flex;
  white-space: nowrap;
  overflow-x: hidden;
  height: 50%; /* Cada fila ocupa el 50% de la pantalla */
}

.projectRow.reverse {
  direction: ltr; /* Para que la segunda fila se mueva en sentido opuesto */
}

.projectContainer {
  display: flex;
  flex-direction: column;
}

.projectMockup {
  width: auto;
  height: 85%;
}

.projectText {
  text-align: center;
  margin: 0px;
}
