.heroVideoContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
}
.heroVideoContainer video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    position: absolute;
}

h1 {
    position: relative;
    color: white;
    margin: 0;
    text-align: center;
    padding: 5%;
    text-transform: uppercase;
    font-size: 42px;
    font-family: 'Yusei Magic', sans-serif;
}

.animate__animated.animate__fadeInDown {
    --animate-duration: 1.5s;
}
.navbarHero {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 20px;
    /* margin-bottom: 61px; */
}
.navbarHero a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

@media(min-width:700px) {
    
    h1 {
        font-size: 67px;
    }
    .navbarHero {
        width: 50vw;
    }
    .navbarHero a {
        font-size: 26px;
    }
}