.heroVideoContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    flex-direction: column;
}
.heroVideoContainer video {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    position: absolute;
}

h1 {
    position: relative;
    color: white;
    margin: 0;
    text-align: center;
    padding: 5%;
    text-transform: uppercase;
    font-size: 42px;
    font-family: 'Yusei Magic', sans-serif;
}

.animate__animated.animate__fadeInDownBig {
    --animate-duration: 3s;
}
.navbarHero {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 20px;
}
.navbarHero a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}