.aboutText {
    margin: 9%;
    font-size: 14.5px;
}
.socialMedia {
    text-align: center; 
    height:  127px;
    margin: 6vh 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #2c2c2c;
    color: white;
}
.socialMediaIcon {
    color: white;
}

h4 {
    margin: 9%;
    font-weight: 600;
}

.inputForm {
    font-family: arial;
    width: 80%;
    height: 25px;
    border-radius: 6px;
    border: none;
    margin: 1.5%;
    padding: 6% 4%;
    color: #7E7E80;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-shadow: 0px 2.06667px 7.75px 0px rgba(0, 0, 0, 0.25);
}
.contactSubtitle {
    /* text-transform: uppercase; */
    color: wheat;
    font-size: 26px;
    color: #a8f0d7;
}
.messageForm {
    height: 116px !important;
    border-radius: 7px;
}

.formSendButton {
    border-radius: 11px;
    background: #000;
    box-shadow: 0px 1.88472px 7.06769px 0px rgba(0, 0, 0, 0.25);
    width: 78px;
    height: 37px;
    margin: 4% auto;
    border: none;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    left: 30%;
}

.formContainer {
    text-align: center;
}
.modal-header{
    border: none;
    padding-right: 4%;
}
.modal-body {
    text-align: center;
    color: #7E7E80;
    text-align: center;
    font-family: 'Roboto' !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: -9%;
}
.modalText {
    font-weight: 400;
}
.modal-content {
    margin: auto;
    border-radius: 35px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    /* width: 692px; */
    width: 75vw;
    height: 131px;
    flex-shrink: 0;
}
.modal-dialog {
    max-width: unset;    
    margin: 40vh auto;
}
.modal-header .btn-close {
    width: 5px;
    padding: 4px;
    /* padding: calc(var(--bs-modal-header-padding-y) * .5) calc(var(--bs-modal-header-padding-x) * .5); */
    margin: calc(0 * var(--bs-modal-header-padding-y)) calc(1 * var(--bs-modal-header-padding-x)) calc(0 * var(--bs-modal-header-padding-y)) auto;
    height: 5px;
}
.formContainerDiv {
    margin-bottom: 10vh;
}
.formSendButton:hover {
    background-color: #2c2c2c;
}

@media (min-width: 700px) {
    .aboutText {
        font-size: 18.5px;
    }
    .socialMedia {
        padding: 0px 19%;
    }
    .socialMedia p {
        font-size: 19px;
    }
    h4 {
        font-size: 19px;
    }
    .inputForm {
        height: 23.25px;
        border-radius: 12px;
        font-size: 17px;
        padding: 4% 4%;
    }
    .formSendButton{
        font-size: 19px;
        left: 34%;    
        width: 90px;
        height: 45px;
    }
    .modal-body {
        font-size: 13px;
        margin-top: -4%;
    }
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .socialMediaIcon {
        font-size: 3em !important;
    }
        
}

@media (min-width: 1000px) {
    .aboutText {
        font-size: 27px;
    }
    .socialMedia {
        padding: 0px 21%;
        height: 150px;
    }
    .socialMedia p {
        font-size: 24px;
    }
    .socialMediaIcon {
        font-size: 3.5em !important;
    }
    h4 {
        font-size: 27px;
        margin: 9% 9% 5% 9%;
    }
    .modal-body {
        font-size: 14px;
        margin-top: -4%;
    }
    
    .modal-content {
        width: 65vw;
        height: 138px;
    }
    .inputForm {
        font-size: 20px;
    }
    .formSendButton {
        font-size: 26px;
        left: 34%;
        width: 110px;
        height: 50px;
    }
}


@media (min-width: 1200px) {
    .inputForm {
        width: 100%;
        height: 43px;
        margin: 1.5% 0;
        padding: 2.5% 3%;
        font-size: 15px;
        border-radius: 17px;
    }
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .messageForm {
        height: 140px !important;
    }
    .formSendButton{
        font-size: 16px;
        width: 80px;
        height: 40px;
        left: 40%;
        transition: background-color 0.3s ease, color 0.3s ease;
        margin-top: 10px;
    }
    .formSendButton:hover {
        background-color: #fff;
        color: #7E7E80;
    }
    
    .modal-header .btn-close {
        padding: 5px;
    }
    .modal-header{
        padding-right: 2%;
    }
    .modal-body {
        font-size: 20px;
        margin-top: -3%;
    }
    
    .modal-content {
        width: 70vw;
        height: 150px;
    }
    .aboutInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-top: 7%;
    }
    .aboutText {
        width: 38%;
        font-size: 19px;
        margin: 0;
        margin-right: 7.5%;
    }
    .socialMedia {
        width: 100%;
        margin: 0;
        margin-top: 4vh;
    }
    .formContainerDiv {
        width: 30%;
        margin: 0 0 0 7.5%;
        display: flex;
        flex-direction: column;
    }
    h4 {
        margin: 0% 0% 5% 0%;
        font-size: 20px;
    }
    .aboutText:nth-child(1) {
        order: 1;
    }
    .socialMedia:nth-child(2) {
        order: 3;
    }
    .formContainerDiv:nth-child(3) {
        order: 2;
    }
}

@media (min-width: 1400px){

    .aboutText {
        width: 35%;
        font-size: 19px;
        margin: 0;
        margin-right: 10%;
    }
    .socialMedia {
        width: 100%;
        margin: 0;
        margin-top: 4vh;
    }
    .formContainerDiv {
        width: 33%;
        margin: 0 0 0 10%;
        display: flex;
        flex-direction: column;
    }
    .formSendButton {        
        left: 42%;
        margin-top: 20px;
    }
    .socialMedia {
        padding: 0px 28%;
    }
}
@media (min-width: 1800px){
    .inputForm{
        height: 50px;
        margin: 1% 0;
        font-size: 17px;
    }
    .formSendButton {
        font-size: 20px;
        width: 95px;
        height: 50px;
    }
    .aboutText {
        width: 32%;
        font-size: 23px;
        margin: 0;
        margin-right: 12%;
    }
    .formContainerDiv {
        margin: 0 0 0 12.5%;
    }
    h4 {
        font-size: 23px;
    }
}