.homeContainer{
    padding: 15px;
    background-size: contain;
}
.homeText {
    margin: 0;
    font-size: 14px;
}
.homeBoxText {
    margin: 10% 0;
    text-align: center;
}

@media(min-width:700px) {
    
    .homeText {
        margin: 0;
        font-size: 18px;
    }
    .homeBoxText {
        margin: 5% 0;
        text-align: center;
    }
}
@media(min-width:1000px) {
    
    .homeBoxText {
        margin: 4% 0;
        text-align: center;
    }
    .homeText {
        font-size: 24px;
    }
}