.homeContainer{
    margin: 15px;
    background-image: url('/fondo.jpg');
    background-size: contain;
}
.homeText {
    margin: 0;
    font-size: 14px;
}
.homeBoxText {
    margin: 10% 0;
    text-align: center;
}