.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  overflow-x: auto; 
  scroll-behavior: smooth; 
  width: 100%; 
  padding: 20px 0; 
}

.mockupWrapper {
  min-width: 30%;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.mockupWrapper:hover {
  transform: scale(1.05); /* Aumenta ligeramente la imagen al pasar el ratón */
}

.mockupImage {
  width: 100%; /* Ocupa todo el espacio disponible */
  height: auto; /* Mantiene la proporción de la imagen */
}

.iframeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow: hidden;
}

.mockupFrame {
  width: 90%; /* Ajusta el ancho según el mockup vacío */
  height: 80%; /* Ajusta la altura del mockup */
  position: relative; /* Para permitir que el iframe se posicione dentro */
  overflow: hidden; /* Para que el iframe no sobresalga */
  background-image: url('/src/assets/webs/mockupblanco.png'); /* Tu mockup vacío */
  background-size: contain; /* Para que el mockup se ajuste al contenedor */
  background-repeat: no-repeat; /* No repetir la imagen */
  background-position: center; /* Centra la imagen del mockup */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  padding: 0 8%;
}

#projectIframe {
  width: 100%; 
  height: 100%; 
  border: none; 
  z-index: 1;
  transform-origin: center;
  transform: scale(0.9); /* Ajusta el valor según cómo quieras escalar */
  overflow: hidden !important;
}

#closeIframe {
  position: absolute;
  top: 0;
  right: 2%;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 13px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.visible {
  opacity: 1;
  transform: scale(1);
}
