.carouselContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.mockupWrapper {
  width: 46%;
  /* margin: 10px; */
  cursor: pointer;
  opacity: 0; 
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}
.mockupVisible {
  opacity: 1;
  transform: translateY(0); 
}

.mockupWrapper:hover {
  transform: scale(1.05);
}

.mockupImage {
  width: 100%;
  height: auto;
}

.iframeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow: hidden;
}

.mockupFrame {
  position: relative; 
  width: 400px; /* Mantén el tamaño para desktop */
  height: 700px; 
  transform: scale(0.9);
  overflow: hidden; 
  display: flex;
  justify-content: center;
}

.mockupFrame::before { 
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/src/assets/webs/mockupblanco2.png'); 
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  z-index: 2; 
  pointer-events: none;
}

#projectIframe {
  width: 100%;
  height: 100%;
  width: 337px;
  height: 640px;
  margin-top: 40px;
  border: none;
  z-index: 1;
  border-radius: 35px;
  border-radius: 0 0 35px 35px;
  overflow: hidden;
}

#closeIframe {
  position: absolute;
  top: 0;
  right: 2%;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 13px;
  background-color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
  border: 2px solid;
}

.visible {
  opacity: 1;
  transform: scale(1);
}

/* Desktop Styles */
@media (min-width: 769px) {
  .carousel {
    display: flex; /* Muestra el carrusel en desktop */
    flex-wrap: nowrap;
  }

  .mockupWrapper {
    min-width: 30%; /* Tres columnas en desktop */
  }
}